## [Start] Setting "completed" to default value of "false". **
$util.qr($context.args.input.put("completed", $util.defaultIfNull($ctx.args.input.completed, false)))
## [End] Setting "completed" to default value of "false". **
{}